* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

/* Banner Section */
.global-msg {
  background: blue;
  line-height: 32px;
}

.global-content {
  display: flex;
  justify-content: space-between;
  color: white;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  color: white;
}

/* Navbar Section  */

.nav-bar {
  background: rgb(4, 203, 61);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  margin-left: 16px;
}

.menu ul li:hover {
  cursor: pointer;
}

/* hero section  */
.hero {
  min-height: 80vh;
  background: url(image/nepal.jpg) no-repeat center;
  /* background-image: url(image/nepal.jpg)
  background-repeat: no-repeat;
  background-position: center; */
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  width: 450px;
  background: rgba(236, 224, 10, 0.5);
  padding: 10px 25px;
  border-radius: 20px;
  text-align: center;
}

/* posts section  */
.posts {
  margin-top: 32px;
  display: flex;
}

.posts-content {
  width: 70%;
  margin-right: 30px;
}

.side-links {
  width: 30%;
}

.country {
  background: rgb(22, 136, 223);
  padding: 40px;
  border-radius: 5px;
}

.date {
  margin-top: 30px;
  background: rgb(92, 180, 11);
  padding: 40px;
  border-radius: 5px;
}

article {
  display: flex;
  margin-top: 32px;
}

.art-img {
  width: 400px;
  height: 50px;
  margin-right: 20px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

/* card section  */
.card-section {
  margin-top: 45px;
  background: rgb(173, 78, 217);
  padding: 20px 0;
}

.card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: 300px;
  min-height: 300px;
  background: white;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-top: 10px;
  box-shadow: -5px 5px 10px 5px rgba(174, 238, 79, 0.6);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.btn-card {
  background: goldenrod;
  font-size: 18px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

/* subscription section  */
.subscription {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer section  */
footer {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
  min-height: 30px;
  margin-top: 32px;
}

/* media query */
/* break points 768px, 1224px */
/* min-weidth, max widrg // <=,>= */
/* @media (max-width: 768px)  */
/* @media (0<= width <=768px)  */

/* laptop */
@media (max-width: 1224px) {
  .posts {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }

  .posts-content {
    width: 100%;
    margin-bottom: 20px;
  }

  .side-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .country,
  .date {
    width: 45%;
  }

  .date {
    margin-top: 0;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
  }
}

/* mobile screen  */

/* min-width  */
@media (0<= width <=768px) {
  .global-msg {
    display: none;
  }
  article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: -5px 5px 10px 0;
  }

  .art-img {
    width: 100%;
  }

  .title {
    margin: 1rem 0;
  }
  article p {
    margin: 1rem 0;
  }

  article button {
    width: 100%;
  }

  .side-links {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .country,
  .date {
    width: 100%;
    text-align: center;
  }

  .side-links ul {
    list-style: none;
  }

  .side-links ul li {
    text-decoration: underline;
    cursor: pointer;
    color: Blue;
  }

  .country {
    margin-bottom: 1rem;
  }

  .card {
    width: 100%;
  }

  .card button {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  form,
  input {
    width: 100%;
  }
}
